<div class="row">
  <div class="button-container col-sm-12 col-md-4">
    <mat-form-field appearance="fill">
    <mat-label>Order by</mat-label>
    <mat-select [(value)]="orderByValue">
      <mat-option value="name">Name</mat-option>
      <mat-option value="applied">Application Date</mat-option>
      <mat-option value="experience">Experience</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-fab color="primary" (click)="toggleSorting()"><mat-icon>{{ sortAscending ? "arrow_upward" : "arrow_downward" }}</mat-icon></button>
  </div>

  <div class="button-container col-sm-12 col-md-4">
  <mat-form-field appearance="fill">
    <mat-label>Filter by position</mat-label>
    <mat-select multiple>
      <mat-option *ngFor="let topping of getPositions()" [value]="topping">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field>
  </div>

  <div class="button-container col-sm-12 col-md-4">
  <mat-form-field appearance="fill">
    <mat-label>Search by name</mat-label>
    <input matInput #nameSearch (input)="filterByName(nameSearch.value)" type="text" >
  </mat-form-field>
  </div>
</div>

<app-application-list [applications]="displayApplications"></app-application-list>

<div class="bookmarks-btn-container">
  <button mat-mini-fab color="primary"><mat-icon>bookmarks</mat-icon></button>
</div>