<div class="container-fluid">
  <div class="row">
  <div class="button-container col-sm-12 col-md-6 col-lg-3">
    <mat-form-field appearance="fill">
    <mat-label>Order by</mat-label>
    <mat-select [formControl]="orderByValue">
      <mat-option value="name">Name</mat-option>
      <mat-option value="applied">Application Date</mat-option>
      <mat-option value="experience">Experience</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-fab color="primary" (click)="toggleSorting()"><mat-icon>{{ sortAscending ? "arrow_upward" : "arrow_downward" }}</mat-icon></button>
  </div>

  <div class="button-container col-sm-12 col-md-6 col-lg-3">
    <mat-form-field appearance="fill">
      <mat-label>Filter by position</mat-label>
      <mat-select [formControl]="selectedPositions" (selectionChange)="refreshList()" multiple>
        <mat-option *ngFor="let pos of getPositions()" [value]="pos">{{pos}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  

  <div class="button-container col-sm-12 col-md-6 col-lg-3">
    <mat-form-field appearance="fill">
      <mat-label>Filter by days available</mat-label>
      <mat-select [formControl]="selectedDays" (selectionChange)="refreshList()" multiple>
        <mat-option *ngFor="let day of days" [value]="day">{{day | dayName }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="button-container col-sm-12 col-md-6 col-lg-3">
  <mat-form-field appearance="fill">
    <mat-label>Search by name</mat-label>
    <input matInput [formControl]="nameSearch" (input)="refreshList()" type="text" >
  </mat-form-field>
  </div>
</div>
</div>

<app-application-list [applications]="displayApplications"></app-application-list>

<div class="bookmarks-btn-container">
  <button mat-mini-fab color="primary" (click)="openBookmarks()"><mat-icon>bookmarks</mat-icon></button>
</div>