<div class="container">
    <div>
        <button mat-mini-fab color="accent" routerLink="/">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <h1>{{ application.name }}</h1>
    <h2>About this application</h2>
    
    <section>
        <p>Applied for the <span>{{application.position }}</span> position on <span>{{application.applied | date }}</span></p>

        <p>Selected experience level: <span>{{ application.experience}} </span> </p>
    </section>

    <h2>Availability</h2>
    
    <section>
        <app-availability [availability]="application.availability"></app-availability>
    </section>
    
    <h2>Applicant questions</h2>
    
    <section>
        <div *ngFor="let q of application.questions">
            <div class="question">
                <span>{{q.text}}</span>
            </div>
            <div class="answer">
                <span>{{q.answer}}</span>
            </div>
        </div>
    </section>
</div>