<div class="row">
  <div class="button-container col-sm-12 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Order by</mat-label>
      <mat-select>
        <mat-option value="name">Name</mat-option>
        <mat-option value="application-date">Application Date</mat-option>
        <mat-option value="experience">Experience</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="toggleSorting()"><mat-icon>sort</mat-icon></button>
  </div>

  <div class="button-container col-sm-12 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Filter by position</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let topping of getPositions()" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="button-container col-sm-12 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Search by name</mat-label>
      <input matInput type="text" >
    </mat-form-field>
  </div>
</div>
<div class="application-list row">
  <div *ngFor="let app of applications" class="col-md-12 application-item-container">
    <app-application-item [application]="app" ></app-application-item>
  </div>
</div>